.app-header {
  // height: var(--app-header-height);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // padding: 0 1rem 0 0.5rem;
  background: var(--primary);
  color: var(--selected-text);
  z-index: 99999;
}

.logo {
  height: 48px;
  margin-left: 20px;
  margin-right: 20px;
}

.header-menu {
  width: 100%;

}

.backbutton{

  margin-right: 20px;
  // justify-content: end;
  // float: right;
  width: 992px;
  text-align: right;

}

.tablec {
margin: 10px;
padding: 0.2rem;
}

.detail{
  cursor: pointer;
}

.flag{
  margin: 20px;
  padding: 20px;
}
