<div class="about">
  <div>
    <img src="assets/maciej_paszkowski.jpg" alt="maciej_paszkowski">
    <div class="content">
      <div class="content">
        Autor: Maciej Paszkowski
      </div>
      <div class="content">
        Specjaloność Backend: Python, SQL, Kubernetes, Docker

      </div>
      <div class="content">
        Frontend: React, Angular, Js/TS

      </div>
      <div class="content">
        Inne: Photografia, Photoshop/After Effect , Motion/Final Cut

      </div>

    </div>
  </div>





</div>
